
// Body
$enable-rounded: false;
// $info:red;
// $blue: #dc2d1a;

// $input-focus-bg: #dcad1a;

// $input-transition: border-color ease-in-out 1s, box-shadow ease-in-out 1s;

$white:#fff;
$black:#000;
$c-primary:#6FAF9F;
$c-lgray:#9D9D9D;
$c-dgray:#292929;
$f-primary:'Cabin';
$f-secondary:'DM Serif Display';


@mixin mixin-transition {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

@mixin mixin-before-after {
    content: "";
    position: absolute;
    left: 0;

    right: 0;
    bottom: 0;
    top: 0;
}

@mixin mixin-imgset {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

@mixin media-breakpoint-up-xxxl {
    @media (min-width: 1801px) {
        @content;
    }
}
@mixin media-breakpoint-up-xxl {
    @media (min-width: 1601px) {
        @content;
    }
}
@mixin media-breakpoint-up-xl {
    @media (min-width: 1401px) {
        @content;
    }
}

@mixin media-breakpoint-down-xxxl {
    @media (max-width: 1800px) {
        @content;
    }
}
@mixin media-breakpoint-down-xxl {
    @media (max-width: 1600px) {
        @content;
    }
}
@mixin media-breakpoint-down-xl {
    @media (max-width: 1400px) {
        @content;
    }
}

