// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// @import "cover";

@import "header";
@import "footer";
@import "index";
@import "class_add";

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    font-family: $f-primary;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
    color:$c-lgray;
    font-size:15px;
    overflow-x: hidden;
    scroll-behavior: smooth;
    @include media-breakpoint-down(lg){
        font-size: 14px;       
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul {
    margin: 0;
    padding: 0;
    line-height: normal;
    list-style-type: none;
}

span {
    display: inline-block;
}

i {
    display: inline-block;
    vertical-align: middle;
}

img {
    max-width: 100%;
}

a,
button {
    @include mixin-transition;
    display: inline-block;
    color: inherit;
    border: none;
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        opacity: 1;
        outline: none;       
        color: inherit;
    }
}
.uni-main{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    main{
        flex: 1;
    }
}
.container {
    @include media-breakpoint-up-xxl{
        max-width: 1440px;
    }
   @include media-breakpoint-up-xxxl{
        max-width: 1680px;
   }
   @include media-breakpoint-up-xl{
        max-width: 1350px;
   }
  
}
.uni-btn{
    padding: 11px 25px;
    font-size: 15px;
    color: $white; 
    min-width: 140px;
    border-radius: 50px;
    @include mixin-transition;
    box-shadow: 0px 10px 25px rgba(111,175,159,0.2);
    border:none;
    background-image: linear-gradient(to right, #6FAF9F 0%, #185949 51%, #6FAF9F 100%);
    background-image: -webkit-linear-gradient(to right, #6FAF9F 0%, #185949 51%, #6FAF9F 100%);
    background-image: -moz-linear-gradient(to right, #6FAF9F 0%, #185949 51%, #6FAF9F 100%);
    background-image: -ms-linear-gradient(to right, #6FAF9F 0%, #185949 51%, #6FAF9F 100%);
    background-size: 200% auto!important;
    @include media-breakpoint-down-xl{
        font-size: 14px;
        padding: 11px 20px;
        min-width: 130px;
    }
    @include media-breakpoint-down(lg){
        padding: 10px 15px;
        min-width: 120px;
    }
    @include media-breakpoint-down(sm){
        padding: 8px 15px;
        font-size: 13px;
    }
    &:hover,
    &:focus,
    &:active {
        opacity: 1;    
        color: $white;          
        background-position: right center;
    }
}
.uni-title{
    font-size: 55px;
    line-height: 65px;
    color: $c-dgray;
    font-family: $f-secondary;
    position: relative;
    padding-right: 80px;
    display: inline-block;
    margin-bottom: 60px;
    @include media-breakpoint-down-xxxl{
        font-size: 46px;
        line-height: 55px;
        padding-right: 70px;
        margin-bottom: 45px;
    }
    @include media-breakpoint-down-xxl{
        font-size: 40px;
        line-height: 45px;
        padding-right: 60px;
        margin-bottom: 35px;
    }
    @include media-breakpoint-down-xl{
        font-size: 34px;
        line-height: 42px;
        padding-right: 58px;
        margin-bottom: 30px;
    }
    @include media-breakpoint-down(lg){
        font-size: 28px;
        line-height: 38px;
        padding-right: 55px;
        margin-bottom: 25px;
    }
    @include media-breakpoint-down(sm){
        font-size: 23px;
        line-height: 31px;
        padding-right: 50px;
        margin-bottom: 20px;
    }
    &:after{
        @include mixin-before-after;
        top: auto;
        left: auto;
        width: 60px;
        height: 4px;
        background-color: $c-dgray;
        bottom: 10px;
        @include media-breakpoint-down-xxxl{
            width: 45px;
            height: 2px;
        }
        @include media-breakpoint-down(lg){
            width: 35px;
        }
    }
}
.uni-space{
    margin-bottom: 130px;
    margin-top: 130px;
    @include media-breakpoint-down-xxxl{
        margin-bottom: 80px;
        margin-top: 80px;
    }
    @include media-breakpoint-down-xxl{
        margin-bottom: 60px;
        margin-top: 60px;
    }
    @include media-breakpoint-down(sm){
        
    margin-bottom: 40px;
    margin-top: 40px;

    }
}
p{
    margin-top: 10px;
    line-height: 25px;
    @include media-breakpoint-down(sm){
        margin-top: 6px;
        line-height: 22px; 
    }
}
.uni-read-link{
    font-size: 18px;
    color: $c-primary;
    text-decoration: underline;
    position: relative;
    text-transform: capitalize;
    display: inline-block;
    @include media-breakpoint-down(lg){
        font-size: 16px;
    }
    &:after{
        @include mixin-before-after;
        left: auto;
        margin: auto;
        background: url(../images/right-arrow.svg) no-repeat;
        background-position: center center;
        background-size: contain;
        width: 30px;
        height: 30px;
        right: -45px;
        @include mixin-transition;
        @include media-breakpoint-down-xxl{
            width: 27px;
            height: 27px;
            right: -40px;
        }
        @include media-breakpoint-down(lg){
            width: 22px;
            height: 22px;
            right: -30px;
        }
    }
    &:hover,
    &:focus,
    &:active{
        color: $c-primary;
        text-decoration: underline;
        &:after{
            right: -55px;
            @include media-breakpoint-down-xxl{               
                right: -50px;
            }
            @include media-breakpoint-down(lg){
                right: -40px;
            }
        }
    }
}
.uni-shape{
    position: relative;
    &:before,
    &:after{
        @include mixin-before-after;
        background:url(../images/bg-shape-green.svg)no-repeat;
        background-size: contain;
        background-position: center center;
        width: 216px;
        height: 216px;
        z-index: -1;
        opacity: 0.05;
        @include media-breakpoint-down(sm){
            width: 130px;
            height: 130px;
        }
    }
}
.uni-scroll-up{
    background:$c-primary url(../images/down-arrow-white.svg) no-repeat;
    background-size: 16px 16px;
    background-position: center center;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 40px;
    bottom: 0;
    border-radius: 50px;
    box-shadow: 0 10px 25px rgba(111,175,159,0.2);
    z-index: 1;
    @include mixin-transition;
    transform: translateY(100%);
    @include media-breakpoint-down-xl{
        width: 40px;
        height: 40px;
        right: 20px;
    }
    @include media-breakpoint-down(sm){
        width: 30px;
        height: 30px;
        background-size: 10px 10px;
    }
}