.uni-footer{
    background-color: $c-dgray;
    padding: 100px 0 45px;
    @include media-breakpoint-down-xxxl{
      padding: 60px 0 30px;
    } 
    @include media-breakpoint-down-xl{
        padding: 40px 0 25px;
    }
    @include media-breakpoint-down(lg){
        padding: 30px 0 20px;
       }
       @include media-breakpoint-down(sm){
        padding: 30px 0 15px;
       }
    &.uni-shape{
        &:after,
        &:before{
            background-image: url(../images/bg-shape-white.svg);
            opacity: 0.03;
            z-index: 0;
        }
        &:before{
            bottom: auto;
            right: auto;
            left: 80px;
            top: -66px;
        }
        &:after{
            top: auto;
            left: auto;
            right: -108px;
        }
    }
    .uni-footer-logo{
        width: 190px;
        @include media-breakpoint-down-xl{
            width: 150px;
        }
        @include media-breakpoint-down(xs){
            width: 110px;
        }
    }
    .uni-btn{
        background-image: none;
        background-color: $white;
        color: $c-primary;
        &:hover,
        &:focus,
        &:active {
            opacity: 1;    
            color: $white;
            background-color: $c-primary;
        }
    }
    .uni-social-icon{
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include media-breakpoint-down-xl{
           margin-top: 20px;
        }
        @include media-breakpoint-down(xs){
            justify-content: flex-start;
        }
        li{
            margin-left: 25px;
            @include media-breakpoint-down(md){
                margin-left: 15px;
            }
            &:first-child{
                margin-left: 0;
            }
        }
        a{
            i{
                width: 25px;
                height: 25px;
                display: flex;
                align-items: center;
                @include media-breakpoint-down-xl{
                  width: 18px;
                  height: 18px;
                 }
                svg{
                    path{
                        fill: $white;
                        @include mixin-transition;
                    }
                }
            }
            &:hover{
                background-color: transparent;
                i{
                    svg{
                        path{
                            fill: $c-primary;
                        }
                    }
                }
            }
        }
    }
    p{
        border-top: 1px solid rgba(255,255,255,0.2);
        padding-top: 45px;
        margin-top: 45px;
        @include media-breakpoint-down-xxxl{
            padding-top: 30px;
            margin-top: 30px;
          } 
          @include media-breakpoint-down-xl{
            padding-top: 25px;
            margin-top: 25px;
           }
           @include media-breakpoint-down(lg){
            padding-top: 20px;
            margin-top: 20px;
           }
           @include media-breakpoint-down(sm){
            padding-top: 10px;
            margin-top: 10px;
           }
    }
}