.uni-header{
    z-index: 2;
    background-color: rgba(255,255,255,0);
    transition: transform .65s cubic-bezier(.82,.01,.18,1),opacity .25s ease-in-out,color .15s ease-in-out,background-color .15s ease-in-out;
    .navbar{
        padding: 12px 80px;
        justify-content: space-between;
    }
    .navbar-brand{
        width: 190px;
    }
    .navbar-collapse{
        flex-grow: unset;
    }
    ul{
        margin-right: 14px;
        li{
            position: relative;
            &:hover{
                a{
                    color: $c-primary;
                    &:after{
                        background-image: url(../images/down-arrow-green.svg);
                    }
                }
            }
            &:after{
                @include mixin-before-after;
                @include mixin-transition;
                opacity: 0;
                top: auto;
                width: 5px;
                height: 5px;
                background-color: $c-primary;
                margin: 0 auto;
                bottom: -10px;
            }
            &.active{
                &:after{
                    opacity: 1;
                }
                a{
                    color: $c-primary;
                }
            }
        }
        .nav-link{
            color: $c-dgray;
            padding: 0 16px !important;
        }
        .dropdown-toggle{
            &:after{
                background: url(../images/down-arrow.svg) no-repeat ;
                background-size: contain;
                background-position:center center;
                width: 13px;
                height: 13px;
                border:none;
                vertical-align: middle;
                margin-left: 10px;
            }
        }
    }
}
