.uni-article {
    position: relative;
    padding-top: 130px;

    @include media-breakpoint-down-xl {
        padding-top: 100px;
    }

    @include media-breakpoint-down(lg) {
        padding-top: 80px;
    }

    @include media-breakpoint-down(md) {
        padding-top: 60px;
    }

    &:after {
        @include mixin-before-after;
        left: auto;
        background-color: #F9F9F9;
        width: 70%;
        height: 850px;
        z-index: -1;

        @include media-breakpoint-down-xxxl {
            height: 550px;
            width: 63%;
        }

        @include media-breakpoint-down(md) {
            height: 450px;
            width: 60%;
        }

        @include media-breakpoint-down(xs) {
            height: 300px;
        }
    }

    .uni-article-left {
        padding: 80px 0 0 80px;

        @include media-breakpoint-down-xxxl {
            padding: 50px 0 0 50px;
        }

        @include media-breakpoint-down-xxl {
            padding: 20px 0 0 40px;
        }

        @include media-breakpoint-down(sm) {
            padding: 10px 0 0;
        }

        &.uni-shape {
            &:before {
                right: auto;
                bottom: auto;
                left: -70px;

                @include media-breakpoint-down(sm) {
                    top: 30px;
                }
            }

            &:after {
                display: none;
            }
        }

        ul {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            @include media-breakpoint-down-xxl {
                margin-bottom: 20px;
            }

            i {
                width: 25px;
                height: 25px;
                margin-right: 15px;
                background-position: center center;
                background-size: contain;

                @include media-breakpoint-down(md) {
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                }

                &.uni-article-icon {
                    background-image: url(../images/note.svg);
                }

                &.uni-calender-icon {
                    background-image: url(../images/calendar.svg);
                }
            }

            li {
                font-size: 18px;
                color: $c-dgray;
                margin-right: 40px;

                @include media-breakpoint-down-xl {
                    font-size: 16px;
                }

                @include media-breakpoint-down(md) {
                    font-size: 15px;
                    margin-right: 25px;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        h1 {
            font-family: $f-secondary;
            font-size: 60px;
            line-height: 74px;
            color: $c-dgray;
            position: relative;
            text-indent: 50px;
            margin-bottom: 15px;

            @include media-breakpoint-down-xxxl {
                font-size: 50px;
                line-height: 64px;
                text-indent: 40px;
            }

            @include media-breakpoint-down-xxl {
                font-size: 45px;
                line-height: 54px;
            }

            @include media-breakpoint-down-xl {
                font-size: 41px;
                line-height: 52px;
            }

            @include media-breakpoint-down(md) {
                font-size: 32px;
                line-height: 42px;
                text-indent: 28px;
            }

            @include media-breakpoint-down(sm) {
                font-size: 26px;
                line-height: 34px;
            }

            &:before {
                @include mixin-before-after;
                right: auto;
                bottom: auto;
                top: -10px;
                background: url(../images/quote.svg) no-repeat;
                background-size: contain;
                background-position: center center;
                width: 50px;
                height: 50px;
                z-index: -1;

                @include media-breakpoint-down-xxxl {
                    width: 40px;
                    height: 40px;
                }

                @include media-breakpoint-down-xxl {
                    top: -6px;
                }

                @include media-breakpoint-down(md) {
                    width: 35px;
                    height: 35px;
                }
            }

            span {
                color: $c-primary;
                text-decoration: underline;
                text-indent: 0;
                margin: 0 12px;
                font-style: italic;
            }
        }

        .uni-read-link {
            margin-top: 30px;
        }
    }

    .col-md-5 {
        @include media-breakpoint-down(sm) {
            order: -1;
            margin-bottom: 20px;
        }

        &.uni-shape {
            &:before {
                display: none;
            }

            &:after {
                top: auto;
                right: auto;
                left: -80px;
                z-index: 0;

                @include media-breakpoint-down-xxxl {
                    left: -30px;
                }

                @include media-breakpoint-down-xxl {
                    left: 20%;
                }
            }
        }
    }

    .uni-article-right {
        width: 700px;
        height: 800px;
        overflow: hidden;
        margin: 0 0 0 auto;
        z-index: 1;
        position: relative;

        @include media-breakpoint-down-xxxl {
            width: 500px;
            height: 600px;
        }

        @include media-breakpoint-down-xxl {
            width: 350px;
            height: 450px;
        }

        @include media-breakpoint-down(md) {
            width: 280px;
            height: 390px;
        }

        @include media-breakpoint-down(sm) {
            width: 220px;
            height: 290px;
            margin: 0 auto;
        }

        @include media-breakpoint-down(xs) {
            width: 170px;
            height: 220px;
        }

        img {
            @include mixin-imgset;
        }
    }
}

.uni-explore {
    &.uni-shape {
        &:before {
            display: none;
        }

        &:after {
            right: -91px;
            top: auto;
            left: auto;

        }
    }

    .uni-explore-list {
        background-color: #FCFCFC;

        .uni-ex-list-top {
            height: 300px;
            width: 100%;
            overflow: hidden;
            position: relative;

            @include media-breakpoint-down-xxxl {
                height: 200px;
            }

            @include media-breakpoint-down-xxl {
                height: 170px;
            }

            &:after {
                @include mixin-transition;
                @include mixin-before-after;
                background-color: rgba(111, 175, 159, 0);
            }

            img {
                @include mixin-imgset;
                @include mixin-transition;
            }

            span {
                padding: 15px 13px;
                font-size: 18px;
                color: $white;
                background-color: rgba(0, 0, 0, 0.8);
                @include mixin-before-after;
                content: none;
                bottom: auto;
                right: auto;

                @include media-breakpoint-down-xxxl {
                    font-size: 15px;
                    padding: 12px;
                }

                @include media-breakpoint-down(lg) {
                    font-size: 14px;
                    padding: 10px;
                }
            }
        }

        .uni-ex-list-bottom {
            padding: 30px 35px;
            height: 233px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @include media-breakpoint-down-xxxl {
                padding: 20px;
                height: 180px;
            }

            @include media-breakpoint-down(sm) {
                padding: 15px;
                height: 150px;
            }

            h4 {
                font-size: 30px;
                line-height: 33px;
                font-family: $f-secondary;
                color: $c-dgray;

                @include media-breakpoint-down-xxxl {
                    font-size: 26px;
                    line-height: 30px;
                }

                @include media-breakpoint-down(lg) {
                    font-size: 23px;
                    line-height: 28px;
                }

                @include media-breakpoint-down(sm) {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            p {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

        &:hover,
        &:focus,
        &:active {
            .uni-ex-list-top {
                &:after {
                    background-color: rgba(111, 175, 159, 0.5);
                }

                img {
                    filter: blur(4px);

                }
            }

            .uni-read-link {
                &:after {
                    right: -55px;
                }
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 80px;
        height: 80px;
        background: $white url(../images/right-arrow.svg) no-repeat;
        background-size: 35px 35px;
        background-position: center center;
        box-shadow: 0px 10px 25px rgba(111, 175, 159, 0.2);
        @include mixin-transition;
        position: relative;
        top: auto;
        left: auto;
        right: -20px;
        bottom: auto;
        margin: 50px 0 0;
        border-radius: 50px;
        z-index: 1;

        @include media-breakpoint-down-xxxl {
            width: 60px;
            height: 60px;
            background-size: 27px 27px;
            margin-top: 30px;
        }

        @include media-breakpoint-down-xl {
            width: 55px;
            height: 55px;
            background-size: 24px 24px;
            right: -10px;
        }

        @include media-breakpoint-down(sm) {
            width: 45px;
            height: 45px;
            background-size: 20px 20px;
        }
    }

    .swiper-button-prev {
        transform: rotate(180deg);
        box-shadow: 0px -10px 25px rgba(111, 175, 159, 0.2);
        left: -20px;
        right: auto;

        @include media-breakpoint-down-xl {
            left: -10px;
        }
    }

    .swiper-button-disabled {
        opacity: 0.5;
    }
}

.uni-related-topic {
    margin-bottom: 90px !important;

    @include media-breakpoint-down-xxxl {
        margin-bottom: 40px !important;
    }

    @include media-breakpoint-down-xxl {
        margin-bottom: 30px !important;
    }

    &.uni-shape {
        &:before {
            left: 450px;
            bottom: auto;
            right: auto;

            @include media-breakpoint-down-xxl {
                left: 15%;
            }

        }

        &:after {
            top: auto;
            left: auto;
            right: 220px;

            @include media-breakpoint-down-xxl {
                right: 12%;
            }

        }
    }

    .uni-topic-list {
        text-align: center;
        min-height: 300px;
        border: 1px solid $c-lgray;
        padding: 20px;
        font-size: 40px;
        line-height: 44px;
        font-family: $f-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        color: $c-dgray;
        height: calc(100% - 40px);
        background-color: $white;

        @include media-breakpoint-down-xxxl {
            padding: 15px;
            font-size: 30px;
            line-height: 34px;
            margin-bottom: 30px;
            height: calc(100% - 30px);
            min-height: 230px;
        }

        @include media-breakpoint-down-xxl {
            font-size: 26px;
            line-height: 34px;
            min-height: 210px;
        }

        @include media-breakpoint-down-xl {
            font-size: 24px;
            line-height: 32px;
            min-height: 200px;
        }

        @include media-breakpoint-down(lg) {
            font-size: 22px;
            line-height: 27px;
            min-height: 180px;
        }

        @include media-breakpoint-down(md) {
            font-size: 20px;
            line-height: 25px;
            min-height: 140px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 18px;
            line-height: 22px;
            min-height: 120px;

            margin-bottom: 15px;
            height: calc(100% - 15px);

        }

        &:hover,
        &:focus,
        &:active {
            color: $white;
            background-color: $c-primary;
        }

        span {
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            display: -webkit-box;
        }
    }
}