<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">

    <title>Unicef</title>

    <% include /src/include/styles.ejs %>

</head>

<body>
  <div class="uni-loader">

  </div>
  <div class="uni-main">
    <% include /src/include/header.ejs %>
      <main>
        <section class="uni-article">
          <div class="container-fluid p-md-0">
            <div class="row">
              <div class="col-md-6"  data-aos="fade-up">
                <div class="uni-article-left uni-shape">
                  <ul>
                    <li>
                      <i class="uni-article-icon"></i>Article
                    </li>
                    <li>
                      <i class="uni-calender-icon"></i>18 / 05 / 2021 
                    </li>
                  </ul>
                  <h1>Water and the global climate crisis:<span>10 things</span>you should know</h1>
                  <p>The world needs to get water smart. Everyone has a role to play, and we cannot afford to wait. Climate change is disrupting weather patterns, leading to extreme weather events, unpredictable water availability, exacerbating water scarcity and contaminating water supplies. Such impacts can drastically affect the quantity and quality of water that children need to survive.</p>
                  <a href="javascript:void(0);" class="uni-read-link">Read More</a>
                </div>
               
              </div>
              <div class="col-md-5 uni-shape" data-aos="fade-up">
                <div class="uni-article-right">
                  <img src="images/img-1.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="uni-explore uni-space uni-shape"  data-aos="fade-up">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h2 class="uni-title">More To Explore</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
               
                <div class="swiper-container uni-swiper-explore">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <a href="javascript:void(0);" class="uni-explore-list">
                        <div class="uni-ex-list-top">
                          <img src="images/img-2.jpg" alt="">
                          <span>07 / 06 / 2021 </span>
                        </div>
                        <div class="uni-ex-list-bottom">
                          <div>
                            <h4>Statement</h4>
                            <p>UNICEF statement on UK budget cuts</p>
                          </div>
                          <div>
                            <div class="uni-read-link">Read More</div>
                          </div>
                        </div>    
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="javascript:void(0);" class="uni-explore-list">
                        <div class="uni-ex-list-top">
                          <img src="images/img-3.jpg" alt="">
                          <span>28 / 05 / 2021 </span>
                        </div>
                        <div class="uni-ex-list-bottom">
                          <div>
                            <h4>Press release</h4>
                            <p>UNICEF works urgently to restore water to 200,000 people in Goma cut off because of volcano lava damage</p>
                          </div>
                          <div>
                            <div class="uni-read-link">Read More</div>
                          </div>
                        </div> 
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="javascript:void(0);" class="uni-explore-list">
                        <div class="uni-ex-list-top">
                          <img src="images/img-4.jpg" alt="">
                          <span>10 / 04 / 2021 </span>
                        </div>
                        <div class="uni-ex-list-bottom">
                          <div>
                            <h4>Article</h4>
                            <p>Spotlight on results achieved by UNICEF in 2020 despite historic challenges</p>
                          </div>
                          <div>
                            <div class="uni-read-link">Read More</div>
                          </div>
                        </div>    
                      </a>
                    </div>
                    <div class="swiper-slide">
                      <a href="javascript:void(0);" class="uni-explore-list">
                        <div class="uni-ex-list-top">
                          <img src="images/img-3.jpg" alt="">
                          <span>07 / 06 / 2021 </span>
                        </div>
                        <div class="uni-ex-list-bottom">
                          <div>
                            <h4>Statement</h4>
                            <p>UNICEF statement on UK budget cuts</p>
                          </div>
                          <div>
                            <div class="uni-read-link">Read More</div>
                          </div>
                        </div>    
                      </a>
                    </div>
                  </div>              
                </div>
                <div class="d-flex justify-content-center">
                  <div class="swiper-button-prev"></div>
                  <div class="swiper-button-next"></div>
                </div>
              </div>
            </div>
          </div>
        </section>
       <section class="uni-related-topic uni-space uni-shape"  data-aos="fade-up">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h2 class="uni-title">Related Topics</h2>
            </div>
          
          </div>
          <div class="row justify-content-center">
            <div class="col-md-3 col-6">
              <a href="javascript:void(0);" class="uni-topic-list">
                <span>Climate change</span>
              </a>
            </div>
            <div class="col-md-3 col-6">
              <a href="javascript:void(0);" class="uni-topic-list">
              <span>Climate change and impacts</span>  
              </a>
            </div>
            <div class="col-md-3 col-6">
              <a href="javascript:void(0);" class="uni-topic-list">
                <span>Water, Sanitation and Hygiene</span>
              </a>
            </div>
            <div class="col-md-3 col-6">
              <a href="javascript:void(0);" class="uni-topic-list">
                <span>Water Shortage</span>
              </a>
            </div>
            <div class="col-md-3 col-6">
              <a href="javascript:void(0);" class="uni-topic-list">
                <span>Water borne diseases</span>
              </a>
            </div>
            <div class="col-md-3 col-6">
              <a href="javascript:void(0);" class="uni-topic-list">
                <span>Humanitarian Action and Emergencies</span>
              </a>
            </div>
            <div class="col-md-3 col-6">
              <a href="javascript:void(0);" class="uni-topic-list">
                <span>Global</span>
              </a>
            </div>
          </div>
        </div>
       </section>
      </main>   
    <% include /src/include/footer.ejs %>
    <button type="button"  class="uni-scroll-up"></button>
  </div>

    <% include /src/include/scripts.ejs %>
    <script>
      var swiper = new Swiper(".uni-swiper-explore", {
        slidesPerView: 3,
        spaceBetween: 30,
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        breakpoints: {
          375: {
            slidesPerView: 1,
            spaceBetween: 20,
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 20,
          },
          1400: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
        },
      });
    </script>
           
</body>

</html>